.bg-green{
	background: #2ECC71;
}
.bg-gray{
	background: #F5F5F5;
}
.bg-orange{
	background: #E74C3C;
}
.txt-white{
	color:white;
}
.bg-plomo{
	background: #34495E;
}
.bg-footer{
	background: #2C3E50;
}
.bg-white{
	background: white;
}
header{
	margin-top: 30px;
}
.foto{
	width: 60px;
}
.caja{
	padding: 5% 0;
}
.btn{
	background: #E74C3C;
}
footer{
	height: 60px;
	padding-top: 25px;
}
.bajo a{
	color: white;
	text-decoration-style: none;
	padding-left: 10px;
}
.bajo a i{
	color: white;
	font-size: 15px;
}
@media screen and (max-width: 700px){
	footer{
	height: 80px;
	padding-top: 20px;
}
}