.bg-green{
	background: #2ECC71;
}
.bg-gray{
	background: #F5F5F5;
}
.bg-orange{
	background: #E74C3C;
}
.txt-white{
	color:white;
}
.bg-plomo{
	background: #34495E;
}
.bg-footer{
	background: #2C3E50;
}
.bg-white{
	background: white;
}