body{
	font-weight: 300;
	background-color: #F5F5F5;
}
header img{
	zoom:1.4;
}
footer{
	height: 60px;
	padding-top: 25px;
}
.bajo a{
	color: white;
	text-decoration-style: none;
	padding-left: 10px;
}
.bajo a i{
	color: white;
	font-size: 15px;
}
.img-responsive{
	width: 100%;
}