@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.item{
	background-size: cover;
	width: 100%; 
}
.texto{
	text-align: left;
	left: 10%;
  	bottom: 200px;
}
.texto h3{
	font-size: 34px;
}
.carousel-control{
	height: 577px;
}
.texto p{
	font-size: 11px;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 30%;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 30%;
}
.pd{
	padding:14% 0;
}
blockquote footer{
	height: 30px;
    padding-top: 5px;
}
.ico{
	font-size: 30px;
	height: 50px;
	width: 50px;
	background: #1C7A44;
	color: white;
	margin-top: 10px;
	padding: 15% 33%;
}
.last{
	padding:5% 0;
}
.our img{
	padding: 10px;
	background: white;
}
@media screen and (max-width: 700px){
	.item{
		height: 200px;
}
	.carousel-control{
		height: 250px;
}
	.carousel-inner>.item>a>img, .carousel-inner>.item>img, 
	.img-responsive, .thumbnail a>img, .thumbnail>img{
		height: 100%;
	}
	.our img{
		width: 100%;
		padding: 2px;
}
	.pd{
		padding: 8px 0;
	}
}